@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;

}

/* Main container */

.custom-container{
    height: 100%;
    width: 100%;
}

/* Navbar styling */
.nav{
    background-color: yellow;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.noon-logo{
    width: 100px;
}
.dubai-flag{
    width: 40px;
    margin-right: -15px;
}
.delivery{
    max-width: 112px;
}
.search-bar{
    width: 600px;
    height: 34px;
    border-radius: 4px;
    border: none;
    padding: 20px;
}
#country{
    background-color: yellow;
    border: none;
    margin-left: -50px;
}

/* Categories nav bar */

.categories{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 10px;
}
.categories ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;

}
.all-categories{
    color: blue;
    border-right: 1px solid blue;
    padding: 5px 5px;
}
.drop-down{
    margin-left: 30px;
    margin-right: 5px;
}
.toys{
    margin-left: 20px;
}
.item{
    width: 150px;
    height: 50px;
}

/* Offers Nav bar */

.offers{
    width: 100%;
    height: 12vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}
.free{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0 5px;
}
.cashback{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 5px;
}
.first{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2px 15px;
}
.one{
    background-color: gold;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 6px;
}
.try-free{
    font-weight: bold;
    color: greenyellow;
    font-size: 0.8rem;
}
.special{
    border: 1px solid red;
    border-radius: 2px;
    padding: 4px 6px;
}

/* First Ad Slider */

.slider{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.ad{
    width: 65vw;
}
.fashion{
    width: 33vw;
    height: 180px;
}

/* Products */

.products ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
}
/* Arrow Buttons
.mini-arrow-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 30px;
    background-color:white;
    border: 0.5 solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.small-arrow-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 30px;
    background-color:white;
    border: 0.5 solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-arrow-btn:hover{
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.btn-right{
    top: 30px;
    right: 18px;
}
.btn-left{
    top: 30px;
    left: 18px;
}
.big-arrow-btn{

} */
.product-pic{
    width: 80px;
}
.perks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin-block: 40px;
}
.cards{
    width: 32vw;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    border-radius: 1px;
    padding: 15px 10px;
    gap: 10px;
}
.in-focus{
    width: 32vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1px;
    padding: 15px 10px;
}
.infocus-offer{
    width: 360px;
}
.big-deals-card{
    position: relative;
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.big-deals-card-img{
    background-color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.big-deals-card-pic{
    width: 60px;
}
.big-deals-card-label{
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    color: orangered;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 8px;
    text-align: center;
}
.big-deals-card-shop-logo{
    position: absolute;
    top: 55px;
    right: 2px;
    border-radius: 4px;
}
.big-deals-card-dicp{
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.offers-card{
    width: 32vw;
    height: 440px;
    padding: 5px;
}
.reasons{
    background-color: lavender;
}
.big-deals{
    background-color:rgb(193, 189, 245);
}
.infocus{
    background-color: lavender;
}
.electronic-items{
    width: 180px;
}
.different-items{
    width: 180px;
}
.emaar-life{
    width: 98%;
    margin: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: justify;
    gap: 20px;
}
a{
    text-decoration: none;
}
.help{
    height: 100px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.support-channels{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.channel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product-lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product-lists ul{
    list-style: none;
    line-height: 2rem;
}
.connect-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}
.social-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.apps{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.app-gallery{
    width: 84px;
    height: 26px;
}
.shop-connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    padding: 20px 0 60px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.text ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.credit-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

/* Sale Cards */

.product-sale-deals{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 20px;
    padding: 20px;
}
.sale-deals-card{
    text-align: center;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: aquamarine;
}
.sale-card{
    max-width: 398px;
    min-height: 148px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.sale-deal-dicp{
   max-width:160px; 
   font-size: 20px;
   display: flex;
   flex-direction: column;
}
.sale-deal-img{
    max-width: 100px;
}
/* Deals Cards Container */

.deal-container{
    width: 100%;
    padding: 10px;
}
.deals-card-container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 10px;
}
.deal-card{
    position: relative;
    width: 402px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:aquamarine;
    border-radius: 10px;
}
.inside-deal-card{
    position: relative;
    width: 398px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    padding: 10px;
}
.deal-img{
    height: 80%;
    width: 271px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.deal-pic{
    width: 117px;
}
.deal-shop-logo{
    position: absolute;
    bottom: 5px;
    right: 4px;
    border-radius: 4px;
}
.deal-dicp{
    width: 100%;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

/* Cards of products */

.cards-gallery{
    display: grid;
    grid-template-columns: repeat(6,1fr);    
}
.product-card{
    width: 180px;
    height: 380px;
    border: 0.3px solid gainsboro;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    background-color: white;
}
.card-pic{
    background-color: rgb(235, 235, 235);
    width: 160px;

}
.img-part{
    width: 170px;
    height: 280px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    position: relative;
}
.seller{
    background-color:rgb(67, 67, 67);
    color: white;
    padding: 5px 8px;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 13px;
    font-weight: bold;
}
.gift{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    right: 4px;
}
.rating{
    background-color:whitesmoke;
    padding: 5px 8px;
    border-radius: 20px;
    position: absolute;
    bottom: 4px;
    left: 4px;
}
.cart{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.ice{
    background-color: rgb(214, 214, 214);
}

/* Products Of Noon App */

.product-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 10px;
}
.product-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.product-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
.big-heading{
    font-size: 24px;
}
.small-heading{
    font-size: 18px;
}
.product-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 20px;
}
.product-gallery{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.product-img{
    width: 150px;
    margin-left: 10px;
}
.lemon{
    background-color: lightgoldenrodyellow;
}
.sky{
    background-color: rgb(237, 244, 245);
}
.purple{
    background-color:rgb(237, 237, 237);
}
/* Official Bramds Stores */

.official-brands{
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin: 20px;
    padding-bottom: 40px;
}
.brands-store{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 10px;
}
.brands-img{
    width: 280px;
}

/* Maximise savings */

.maximise-savings{
    background-color: rgb(241, 241, 241);
    padding: 20px 20px 60px 20px;
}
.savings-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.savings-pics{
    width: 280px;
}